<footer class="footer">
<div class="footer-wrap">
		<hr class="vdivider">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<p><img src="{{ site.url }}/img/logo/logo.svg" style="width: 70px" alt=""><span>Aid
Christian
International
Ministry</span></p>

					<p class="">&copy;2017 <a href="{{ site.url }}">AIDCIM</a> </p>
				</div>
				<div class="col-md-4">

				</div>
				<div class="col-md-4">
				<h4>Address</h4>
					<address><i class="fa fa-map-marker" aria-hidden="true"></i>
	<strong>Church, chr.</strong><br>
	123 Light Street<br>
	Seattle, WA 94103<br>
	<a href=""><i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp;(123) 456-7890</a>
	</address>
	<address>
	<h4>Contact person</h4>
	<a href="mailto:#"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;church@example.com</a>
	</address>
				</div>
			</div>
		</div>
		<hr class="vdivider">
</div>
</footer>
