---
layout: default
description: Aid Christian International Ministry · Website | Projects Activity and
  Contact
title: Aid Christian International Ministry · Projects page
heading: Calendar
---

{% include nav-desktop.html %}

{% include sections/page-heading.html %}

<hr class="vdivider sm">
<div class="container content">

	<!--ROW 1 Start-->
	<div class="row">

		<div class="col-md-12">
			<h3>Information Sessions & Friends Meeting</h3>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
						<div class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								<i class="fa fa-info" aria-hidden="true"></i> &nbsp; 21/05/2017 Friends meeting in Esslingen
							</a>
						</div>
					</div>
					<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<div class="col-md-6">
								<p class="lead">Dear friend!</p>
								<p>You are cordially invited us to thank God together for His preservation, for His abundant blessings in many applications, for the opportunities given to us by the Lord to help needy and needy. The program reports on the important projects of the past year are.
								</p>
								<ul>
									<li>Help for orphans and widows</li>
									<li>assistance to the sick and needy</li>
									<li>assistance to refugees in Ukraine</li>
									<li>Information on completed actions</li>
									<li>Introduction of new aid projects for donor circles</li>
								</ul>
							</div>
							<div class="col-md-6">
								<p class="lead">When:</p>
								<p>Sunday, 05.21.2017 at 14:00</p>
								<p class="lead">WO: </p>
								<p>
									Brunnwiesenstr 7.
									<br> 73760 Ostfildern-Ruit
								</p>
								<p class="lead">
									Daily routine:
								</p>
								<p>Worship 14:00 (between common coffee break) completion scheduled around 19:30</p>
							</div>
							<p class="lead">Registration deadline:</p>
							<p>18/05/2017</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!--ROW 1 End-->


	<!--ROW 2 Start-->
	<div class="row">

		<div class="col-md-12">
			<h3>Camps for orphans</h3>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
						<div class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
								<i class="fa fa-child" aria-hidden="true"></i>&nbsp; 21/05/2017 Friends meeting in Esslingen
							</a>
						</div>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<div class="col-md-6">
								<p class="lead">Dear friend!</p>
								<p>You are cordially invited us to thank God together for His preservation, for His abundant blessings in many applications, for the opportunities given to us by the Lord to help needy and needy. The program reports on the important projects of the past year are.
								</p>
								<ul>
									<li>Help for orphans and widows</li>
									<li>assistance to the sick and needy</li>
									<li>assistance to refugees in Ukraine</li>
									<li>Information on completed actions</li>
									<li>Introduction of new aid projects for donor circles</li>
								</ul>
							</div>
							<div class="col-md-6">
								<p class="lead">When:</p>
								<p>Sunday, 05.21.2017 at 14:00</p>
								<p class="lead">WO: </p>
								<p>
									Brunnwiesenstr 7.
									<br> 73760 Ostfildern-Ruit
								</p>
								<p class="lead">
									Daily routine:
								</p>
								<p>Worship 14:00 (between common coffee break) completion scheduled around 19:30</p>
							</div>
							<p class="lead">Registration deadline:</p>
							<p>18/05/2017</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
						<div class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
								<i class="fa fa-child" aria-hidden="true"></i> &nbsp; 21/05/2017 Friends meeting in Esslingen
							</a>
						</div>
					</div>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body">
							<div class="col-md-6">
								<p class="lead">Dear friend!</p>
								<p>You are cordially invited us to thank God together for His preservation, for His abundant blessings in many applications, for the opportunities given to us by the Lord to help needy and needy. The program reports on the important projects of the past year are.
								</p>
								<ul>
									<li>Help for orphans and widows</li>
									<li>assistance to the sick and needy</li>
									<li>assistance to refugees in Ukraine</li>
									<li>Information on completed actions</li>
									<li>Introduction of new aid projects for donor circles</li>
								</ul>
							</div>
							<div class="col-md-6">
								<p class="lead">When:</p>
								<p>Sunday, 05.21.2017 at 14:00</p>
								<p class="lead">WO: </p>
								<p>
									Brunnwiesenstr 7.
									<br> 73760 Ostfildern-Ruit
								</p>
								<p class="lead">
									Daily routine:
								</p>
								<p>Worship 14:00 (between common coffee break) completion scheduled around 19:30</p>
							</div>
							<p class="lead">Registration deadline:</p>
							<p>18/05/2017</p>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFour">
						<div class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseFour">
								<i class="fa fa-child" aria-hidden="true"></i> &nbsp; 21/05/2017 Friends meeting in Esslingen
							</a>
						</div>
					</div>
					<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
						<div class="panel-body">
							<div class="col-md-6">
								<p class="lead">Dear friend!</p>
								<p>You are cordially invited us to thank God together for His preservation, for His abundant blessings in many applications, for the opportunities given to us by the Lord to help needy and needy. The program reports on the important projects of the past year are.
								</p>
								<ul>
									<li>Help for orphans and widows</li>
									<li>assistance to the sick and needy</li>
									<li>assistance to refugees in Ukraine</li>
									<li>Information on completed actions</li>
									<li>Introduction of new aid projects for donor circles</li>
								</ul>
							</div>
							<div class="col-md-6">
								<p class="lead">When:</p>
								<p>Sunday, 05.21.2017 at 14:00</p>
								<p class="lead">WO: </p>
								<p>
									Brunnwiesenstr 7.
									<br> 73760 Ostfildern-Ruit
								</p>
								<p class="lead">
									Daily routine:
								</p>
								<p>Worship 14:00 (between common coffee break) completion scheduled around 19:30</p>
							</div>
							<p class="lead">Registration deadline:</p>
							<p>18/05/2017</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!--ROW 2 End-->

	<!--ROW 3 Start-->
	<div class="row">

		<div class="col-md-12">
			<h3>Christmas campaign "Joy for Children in Need"</h3>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFive">
						<div class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
								<i class="fa fa-gift" aria-hidden="true"></i> &nbsp; 21/05/2017 Friends meeting in Esslingen
							</a>
						</div>
					</div>
					<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
						<div class="panel-body">
							<div class="col-md-6">
								<p class="lead">Dear friend!</p>
								<p>You are cordially invited us to thank God together for His preservation, for His abundant blessings in many applications, for the opportunities given to us by the Lord to help needy and needy. The program reports on the important projects of the past year are.
								</p>
								<ul>
									<li>Help for orphans and widows</li>
									<li>assistance to the sick and needy</li>
									<li>assistance to refugees in Ukraine</li>
									<li>Information on completed actions</li>
									<li>Introduction of new aid projects for donor circles</li>
								</ul>
							</div>
							<div class="col-md-6">
								<p class="lead">When:</p>
								<p>Sunday, 05.21.2017 at 14:00</p>
								<p class="lead">WO: </p>
								<p>
									Brunnwiesenstr 7.
									<br> 73760 Ostfildern-Ruit
								</p>
								<p class="lead">
									Daily routine:
								</p>
								<p>Worship 14:00 (between common coffee break) completion scheduled around 19:30</p>
							</div>
							<p class="lead">Registration deadline:</p>
							<p>18/05/2017</p>
						</div>
					</div>
				</div>



				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingSix">
						<div class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
								<i class="fa fa-gift" aria-hidden="true"></i> &nbsp; 21/05/2017 Friends meeting in Esslingen
							</a>
						</div>
					</div>
					<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
						<div class="panel-body">
							<div class="col-md-6">
								<p class="lead">Dear friend!</p>
								<p>You are cordially invited us to thank God together for His preservation, for His abundant blessings in many applications, for the opportunities given to us by the Lord to help needy and needy. The program reports on the important projects of the past year are.
								</p>
								<ul>
									<li>Help for orphans and widows</li>
									<li>assistance to the sick and needy</li>
									<li>assistance to refugees in Ukraine</li>
									<li>Information on completed actions</li>
									<li>Introduction of new aid projects for donor circles</li>
								</ul>
							</div>
							<div class="col-md-6">
								<p class="lead">When:</p>
								<p>Sunday, 05.21.2017 at 14:00</p>
								<p class="lead">WO: </p>
								<p>
									Brunnwiesenstr 7.
									<br> 73760 Ostfildern-Ruit
								</p>
								<p class="lead">
									Daily routine:
								</p>
								<p>Worship 14:00 (between common coffee break) completion scheduled around 19:30</p>
							</div>
							<p class="lead">Registration deadline:</p>
							<p>18/05/2017</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!--ROW 3 End-->

	<!--ROW 4 Start-->

	<div class="row">

		<div class="col-md-12">
			<h3>Widow meeting</h3>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading7">
						<div class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true" aria-controls="collapse7">
								<i class="fa fa-female" aria-hidden="true"></i>>&nbsp; 21/05/2017 Friends meeting in Esslingen
							</a>
						</div>
					</div>
					<div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
						<div class="panel-body">
							<div class="col-md-6">
								<p class="lead">Dear friend!</p>
								<p>You are cordially invited us to thank God together for His preservation, for His abundant blessings in many applications, for the opportunities given to us by the Lord to help needy and needy. The program reports on the important projects of the past year are.
								</p>
								<ul>
									<li>Help for orphans and widows</li>
									<li>assistance to the sick and needy</li>
									<li>assistance to refugees in Ukraine</li>
									<li>Information on completed actions</li>
									<li>Introduction of new aid projects for donor circles</li>
								</ul>
							</div>
							<div class="col-md-6">
								<p class="lead">When:</p>
								<p>Sunday, 05.21.2017 at 14:00</p>
								<p class="lead">WO: </p>
								<p>
									Brunnwiesenstr 7.
									<br> 73760 Ostfildern-Ruit
								</p>
								<p class="lead">
									Daily routine:
								</p>
								<p>Worship 14:00 (between common coffee break) completion scheduled around 19:30</p>
							</div>
							<p class="lead">Registration deadline:</p>
							<p>18/05/2017</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading8">
						<div class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true" aria-controls="collapse8">
								<i class="fa fa-female" aria-hidden="true"></i>> &nbsp; 21/05/2017 Friends meeting in Esslingen
							</a>
						</div>
					</div>
					<div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body">
							<div class="col-md-6">
								<p class="lead">Dear friend!</p>
								<p>You are cordially invited us to thank God together for His preservation, for His abundant blessings in many applications, for the opportunities given to us by the Lord to help needy and needy. The program reports on the important projects of the past year are.
								</p>
								<ul>
									<li>Help for orphans and widows</li>
									<li>assistance to the sick and needy</li>
									<li>assistance to refugees in Ukraine</li>
									<li>Information on completed actions</li>
									<li>Introduction of new aid projects for donor circles</li>
								</ul>
							</div>
							<div class="col-md-6">
								<p class="lead">When:</p>
								<p>Sunday, 05.21.2017 at 14:00</p>
								<p class="lead">WO: </p>
								<p>
									Brunnwiesenstr 7.
									<br> 73760 Ostfildern-Ruit
								</p>
								<p class="lead">
									Daily routine:
								</p>
								<p>Worship 14:00 (between common coffee break) completion scheduled around 19:30</p>
							</div>
							<p class="lead">Registration deadline:</p>
							<p>18/05/2017</p>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFour">
						<div class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="true" aria-controls="collapse9">
								<i class="fa fa-female" aria-hidden="true"></i>> &nbsp; 21/05/2017 Friends meeting in Esslingen
							</a>
						</div>
					</div>
					<div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
						<div class="panel-body">
							<div class="col-md-6">
								<p class="lead">Dear friend!</p>
								<p>You are cordially invited us to thank God together for His preservation, for His abundant blessings in many applications, for the opportunities given to us by the Lord to help needy and needy. The program reports on the important projects of the past year are.
								</p>
								<ul>
									<li>Help for orphans and widows</li>
									<li>assistance to the sick and needy</li>
									<li>assistance to refugees in Ukraine</li>
									<li>Information on completed actions</li>
									<li>Introduction of new aid projects for donor circles</li>
								</ul>
							</div>
							<div class="col-md-6">
								<p class="lead">When:</p>
								<p>Sunday, 05.21.2017 at 14:00</p>
								<p class="lead">WO: </p>
								<p>
									Brunnwiesenstr 7.
									<br> 73760 Ostfildern-Ruit
								</p>
								<p class="lead">
									Daily routine:
								</p>
								<p>Worship 14:00 (between common coffee break) completion scheduled around 19:30</p>
							</div>
							<p class="lead">Registration deadline:</p>
							<p>18/05/2017</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!--ROW 4 End-->



	<hr class="vdivider sm">
</div>
