---
layout: default
description: Aid Christian International Ministry · Website | Projects Activity and
  Contact
title: Aid Christian International Ministry · Projects page
---

{% include nav-desktop.html %}

	<div class="container-fluid headline">
		<div class="container">
			<h2 class="">Our projects</h2>
		</div>
	</div>

	<hr class="vdivider sm">
	<div class="container">
		<div class="row">

			{% assign current-projects = site.current-projects | where: "category", "current" | sort: 'date' %}
				{% for project in current-projects reversed %}

				<div class="col-sm-4">
					<div class="thumbnail">
						<div class="thumb-img lg" style="background-image: url('{{ site.url }}{{ project.img }}')">
						</div>
						<div class="caption">
							<h3 class="text-divider">{{ project.project-title }}</h3>
							<p class="">{{ project.project-intro }}</p>
							<a href="{{ site.url }}{{ project.url }}" class="btn btn-info">
								Read more
							</a>

						</div>
					</div>
				</div>

				{% endfor %}

		</div>
	</div>


