<div class="container">
	<div class="row text-center">
		<hr class="vdivider">
		<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-3">
			<div class="thumbnail">
				<img class="img-circle" src="http://placehold.it/140x140/c7c7c7/fafafa" alt="...">
				<div class="caption">
					<h3 class="text-divider">Thumbnail label</h3>
					<p class="sec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt corporis suscipit, recusandae veritatis aliquid ratione.</p>
					<p><a href="#" class="btn btn-info" role="button">Button</a> </p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-3">
			<div class="thumbnail">
				<img class="img-circle" src="http://placehold.it/140x140/c7c7c7/fafafa" alt="...">
				<div class="caption">
					<h3 class="text-divider">Thumbnail label</h3>
					<p class="sec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt corporis suscipit, recusandae veritatis aliquid ratione.</p>
					<p><a href="#" class="btn btn-info" role="button">Button</a> </p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-3">
			<div class="thumbnail">
				<img class="img-circle" src="http://placehold.it/140x140/c7c7c7/fafafa" alt="...">
				<div class="caption">
					<h3 class="text-divider">Thumbnail label</h3>
					<p class="sec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt corporis suscipit, recusandae veritatis aliquid ratione.</p>
					<p><a href="#" class="btn btn-info" role="button">Button</a> </p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-3">
			<div class="thumbnail">
				<img class="img-circle" src="http://placehold.it/140x140/c7c7c7/fafafa" alt="...">
				<div class="caption">
					<h3 class="text-divider">Thumbnail label</h3>
					<p class="sec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt corporis suscipit, recusandae veritatis aliquid ratione.</p>
					<p><a href="#" class="btn btn-info" role="button">Button</a> </p>
				</div>
			</div>
		</div>
	</div>
</div>
