---
layout: project-ru
title: "Текущая ситуация в Восточной Украине"
description: "Текущая ситуация в Восточной Украине"
img: "/img/projects/16-1024x576.jpg"
project-title: "Текущая ситуация в Восточной Украине"
project-location: "Украина"
project-intro: 
categories: current
date: '2017-05-28T00:15:32.028+00:00'
---

<p>Война в <strong>Восточной Украине</strong> исчезла из фокуса многих средств массовой информации. Здесь продолжается конфликт набухает и конец или решение не в поле зрения.</p>

<p>Прошло три года с момента начала конфликта Украины и область не приходит на отдых до сегодняшнего дня. В согласованных договоренностей о прекращении огня, которые подписаны снова, ни одна из сторон не имеет. Обе стороны обвиняют друг друга, но часто страдают от очень простых людей, которые не способствовали ничего этого конфликта.</p>

<p>Небольшой городок Авдеевка был в январе в зону боевых действий. Несколько тысяч людей были эвакуированы. Город остался без электричества и воды. Сотрудники Комитета по оказанию помощи посетили сразу город (34000 жителей), чтобы привести людей туда гуманитарную помощь (одежду, продукты питания). Жители были поражены, что есть товарищи люди, которые готовы, несмотря на опасности, чтобы помочь другим.</p>

<p>В городе Луганск наши братья и сестры порицали власти и государственными СМИ как секта. Тем не менее, братья и сестры в это трудное время, ребята стремятся к подарку с хлебом. Таким образом, дом молитвы всегда хорошо запаслись. Летом восемь душ были крещены городского населения и добавил к ним сообщество.</p>

<p>
	<strong><em>Пусть Бог еще много положить на сердце, чтобы помолиться за погибших в Восточной Украине. Для того, чтобы эта война, наконец, приходит к концу и записи через истинное свидетельство наших братьев и сестер по многим истинным князем мира в их жизни. Чтобы продолжить эту работу, братья нужны наши молитвы и финансовую поддержку.</em></strong>
</p>


