---
layout: project-ru
title: "Вдова Ольга Michova - ДРУЗЬЯ - экстренная помощь"
description: "Вдова Ольга Michova - ДРУЗЬЯ - экстренная помощь"
img: "/img/projects/Halbwaise-Nicole-1024x785.jpg"
project-title: "Вдова Ольга Мичова"
project-location: "Украина"
project-intro: 
categories: current
date: '2017-05-28T00:15:32.028+00:00'
---

<p>
	<strong>Украина:</strong> Очень рада была молодая пара Александр и Ольга , когда ее первая дочь пришла в этот мир.   Александр заботился с любовью для своей жены и дочерей. Внезапно он получил очень сильную головную боль. Ночью он не мог заснуть. На работе все выпал из его рук. Он обнаружил , что все труднее сосредоточиться. В медицинском обследовании в Одессе было отмечено , что Александр опухоль мозга. После первой химиотерапии он чувствовал себя лучше, но это было не долго , пока болезнь снова не свирепствовали. На 31/08/2016 он вошел в вечность. Маленькая дочь Николь, которая только что исполнилось 1 год, конечно, не могла понять , почему ее отец так лежал там , и все вокруг плакали. Молодая мать Ольга (23), очень трудно представить себе жизнь без любимого мужа.
</p>
<blockquote>
	"
	Два месяца спустя, сотрудники комитетов по оказанию помощи сестры Ольги стали известно о встрече вдовы в Одессе. Тяжелая судьба молодой вдовы переехала ее глубоко -   особенно потому , что она просто ждет второго ребенка. На 17/02/2017 маленький Эльвин родился здоровым. Этот Бог молодой вдовы дал утешение. Ольга благодарна за молитвы и финансовую помощь. Молитесь также продолжать для молодой вдовы Ольги и их детей.
	"
</blockquote>


