---
layout: project-ru
title: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, in.
description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, mollitia.
img: "/img/projects/v1024x583.jpg"
project-title: "Вдова Мунира Гамидова"
project-location: "Узбекистан"
project-intro: 
categories: current
date: '2017-05-28T00:15:32.028+00:00'
---

<p>
	<strong>Узбекистан:</strong>«Посмотрите, какое чудо!» - закричал маленький Линда, когда она распаковали ее дар: «Просто кукла я хотела» «Посмотрите на меня,» закричала еще одна девушка рядом с ней: «О, который я мог только мечтать! «Половинки сирот порадовала вокальная об их Geschenke.Ihre матери, вдовы Мунира (39) смотрел, улыбался. Ее печальные глаза наполнились слезами. Она плакала от радости!
</p>
<p>
	Там прошло всего шесть месяцев, так как ее любящий муж и отец 10 детей, скончался после тяжелой болезни. Снова и снова возвращает воспоминания. Изображения из прошлого парит над снова перед глазами их предложению, первая дочь, первые встречи с христианами, преобразования и крещения. Дом был заполнен больше и больше детей. Дети принесли много радости в семье. Они любили ее очень много. Смех и слезы принадлежали к повседневной жизни. Несмотря на фору Отца (глухота), были все дети рождаются здоровыми.
</p>
<p>
	В прошлом году отец большой семьи много путешествовал. Его беспокойство было сказать, как много людей как можно дальше от истинной радости в Иисусе Christus, он был в состоянии испытать себя лично. После долгого езды один день он пришел весь путь через замороженное и дома исчерпаны. Это означает, что холодный брат Ибрагим заболел.
</p>
<p>
	«О ...» сестра Мунира застонал, «жизнь так коротка!» И вдруг прощальные фотографии были снова перед их глазами: Похороны хотели провести родственник мусульманских обычаев. Имам (священник в исламе) был убежден, что это не возможно, в противном случае провести похороны. Когда братья узнали об этом, они пришли из разных деревень стремятся дать мертвые последние почести. Он был прочитан из Библии и молился. Только после того, как люди из отношений можно обернуть под руководством тела имама в простыню и быстро перенести на кладбище. После того, как их обычаи на кладбище только мужчины могут быть там. «Неверных», не допускаются в этом месте на этой церемонии.
</p>
<blockquote>
	Жизнь в Узбекистане (библейски земля Уц) не сравнима с Германией. Там нет страховки и нет больных платить. Пособие на ребенке является иностранным словом ... Несмотря на тяжелую судьбу вдовы Мунир остается в полной уверенности в Боге. Дети и мать хотели бы поблагодарить очень за дары, которые заступничество и финансовой поддержку в это трудное время.
</blockquote>




