---
layout: project-ru
title: "Вдова Людмила Редькина - ДРУЗЬЯ - экстренная помощь"
description: "Вдова Людмила Редькина - ДРУЗЬЯ - экстренная помощь"
img: "/img/projects/Witwe-Ludmila-Redkina.jpg"
project-title: "Вдова Людмила Редькина"
project-location: "Украина"
project-intro: 
categories: current
date: '2017-05-27T04:25:34.121+00:00'
---
<p>
	<strong>Восточная Украина:</strong> мать десять, вдова Людмила (53), жила со своими детьми прямо на линии фронта в зоне боевых действий на востоке Украины. Между тем, 18 месяцев прошло с тех пор ее любимый муж Анатолий пришел с сыном Даниилом в результате взрыва бомбы погибли.
</p>
<p>
	Часто говорят, что время лечит болезненные раны, но у Людмилы воспоминания не уходят, и всё время возвращаются в виду ужасных образов.</p>
<p>
	Авария произошла на солнечное воскресенье. Следы этой страшной трагедии можно преодолеть тяжелые. Но Людмила мужайтесь и стремится заботиться о других своих девяти детей. Темная тень войны травмированных детей - это можно увидеть на их лицах. - «Только с Божьей помощью, только с Божьей помощью», - снова и снова повторял вдове, «мы выжили в тот день.»
</p>
<p>
	</p><blockquote>
	"
	Здесь можно только поражаться, сколько мужества и силы имеют бедную вдову. На Рождество они пошли со всей семьей в Православной Церкви, чтобы петь там посетителей от живой веры и истинной надежды. Посетители были глубоко тронуты, что вдова ставит ее уверенность в таком состоянии, только в живом Боге. Многие сожители помнят с хорошими словами к мужу и отцу большой семьи. Он всегда был веселым и полезным.

	"
	</blockquote>
<p></p>
<p>
	<strong>
		Вдова поблагодарила за поддержку в молитве и в финансовую и гуманитарную помощь.
	</strong>
</p>