<h3>Рассылка</h3>
<form action="" class="">
	<div class="form-group">
		<label for="exampleInputEmail2">Ваш email:</label>
		<input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
	</div>
	<button type="submit" class="btn btn-primary">Подписаться</button>
</form>
