<div class="bg">
	<div class="gradient">
		<div class="container">
			<hr class="vdivider sm">
			<div class="row">
				<div class="col-md-4 valign">
					<p class="lead">Send your feedback</p>
						<h2 class="text-uppercase text-divider text-bold">Submit a form</h2>
						<p>Easiest way to stay in touch Lorem ipsum dolor sit amet.</p>
					<form action="" class="">
						<div class="form-group">
							<label for="exampleInputEmail2">Email:</label>
							<input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
						</div>
						<button type="submit" class="btn btn-primary">Sumbit</button>
					</form>
				</div>
			</div>
			<div class="row">
				<hr class="vdivider">
			</div>
		</div>
	</div>
</div>
