<div class="bg">
	<div class="gradient">
		<div class="container">
			<hr class="vdivider sm">
			<div class="row">
				<div class="col-md-4 valign">
					<p class="lead">{{ site.data.form-subscribe.p_lead-ru }}</p>
						<h2 class="text-uppercase text-divider text-bold">{{ site.data.form-subscribe.h2-ru }}</h2>
						<p>{{ site.data.form-subscribe.p-ru }}</p>
					<form action="" class="">
						<div class="form-group">
							<label for="exampleInputEmail2">{{ site.data.form-subscribe.label-ru }}:</label>
							<input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
						</div>
						<button type="submit" class="btn btn-primary">{{ site.data.form-subscribe.btn-ru }}</button>
					</form>
				</div>
			</div>
			<div class="row">
				<hr class="vdivider">
			</div>
		</div>
	</div>
</div>
