<h3>Newsletter</h3>
<form action="" class="">
	<div class="form-group">
		<label for="exampleInputEmail2">Your email:</label>
		<input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
	</div>
	<button type="submit" class="btn btn-primary">Subscribe</button>
</form>
