
//font-family: 'Anton', sans-serif
//font-family: 'Open Sans', sans-serif

body
	font-family: $mont-light
	color: $base-color
	background-color: #fff

article
	width: 100%
	height: 100%


.vdivider
	color: tranparent
	background-color: transparent
	border-color: transparent

	&.sm
		margin-top: 10px
		margin-bottom: 10px

.valign

	@include phone
		margin-top: 15vh

	@include tablet
		margin-top: 10vh
	
.bg
	background:
		image: url('../img/Girl-with-bread.jpg')
		size: cover
		position: center
		repeat: no-repeat
		attachment: fixed
	
.gradient
	background-color: rgba(255, 255, 255, 0.78)

.white-bg
	background-color: #fff
	
header
	background:
		image: url('../img/Girl-with-bread.jpg')
		size: cover
		position: top center
		repeat: no-repeat
		attachment: fixed
	
	height: 100vh

	.gradient
		background-image: linear-gradient( to top, #fff, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0))
		height: inherit

.text-divider
	position: relative
	margin-bottom: 20px

	&:after
		content: ''
		position: absolute
		bottom: -10px
		left: 0
		width: 30px
		height: 3px
		background-color: $feature-color

.thumbnail
	border: 0
	background:
		color: #f9f9f9
	padding: 0
	overflow: hidden

	h3
		margin-top: 0
		min-height: 2.5em
		font-size: 1.6em
	
.thumb-img
	overflow: hidden
	height: 160px
	width: 100%
	background:
		size: cover
		position: top center
		repeat: no-repeat

	&.lg
		height: 210px
	img
		height: 100%

.img-wrap
	>img
		width: 100%
	
.dark
	background-color: $feature-color
	color: #fff

.headline
	background-color: #f7f7f7

	h2
		color: $feature-color

#our-projects
	padding-top: 40px

.bg-light
	background-color: $light-color

	
.icon-lg
	margin: 5px

.btn
	&.project
		width: 100%
		white-space: normal
		padding: 0
		background:
			color: $light-color

.btn-info
	background:
		color: $feature-color

	&:hover
		background:
			color: $feature-color-dark

.text-bold
	font-family: $mont-bold
	color: $feature-color

.digit-lg
	font-size: 300%
	color: $feature-color-dark

.content
	p
		line-height: 1.8
		padding-top: 10px

	blockquote
		font-family: $roboto-light
		font-size: 14px
		font-style: italic
		border-left: 5px solid $feature-color

p
	&.info
		border-top: 1px solid $feature-color-dark
		border-bottom: 1px solid $feature-color-dark

.social
	margin-right: 30px

	a
		margin: 0 5px
		&:hover
			text-decoration: none

	&.lg
		font-size: 20px

a.donate
	background:
		color: $highlight
	color: #fff
	border-radius: 0

