.navbar-default
	.navbar-brand
		padding-top: 10px
		padding-bottom: 10px
		position: relative
		background:
			image: url('../img/logo/logo.svg')
			repeat: no-repeat
			position: center left
		opacity: 1
		transition: all 250ms ease-in
		z-index: 2
		color: $feature-color

		@include phone
			width: 240px
			height: 60px
			background:
				size: 80px 50px
			padding-left: 80px

		@include phone-ls
			width: 300px
			padding-left: 90px

		@include tablet
			width: 500px
			height: 100px
			padding-left: 95px
			background:
				size: 100px 90px

			&:after
				position: absolute
				top: 82px
				left: 30px
				color: #fff
				content: 'AIDCIM'
				z-index: 3
				font-size: 12px
				font-family: $roboto-bold

		h1

			@include phone
				display: block
				font-size: 15px
				margin-top: 14px
				margin-bottom: 0

			@include phone-ls
				display: block
				font-size: 18px
				margin-top: 12px
				margin-bottom: 0

			@include tablet
				display: block
				margin-top: 23px
				margin-bottom: 3px
				font-size: 36px

		span
			display: none

			@include phone
				display: block
				color: #fff
				font-weight: 600
				font-size: 8px

			@include phone-ls
				display: block
				color: #fff
				font-weight: 600
				font-size: 12px

			@include tablet
				display: block
				color: #fff
				font-weight: 600
				font-size: 18px

		small
			color: inherit

li.flag-nav
	@include phone
		display: block
	@include tablet
		display: none

.flags
	display: none

	@include phone
		margin-top: 20px

	@include tablet
		display: block
		margin-top: 40px

	a
		width: 25px
		height: 25px
		padding: 5px
		color: #fff
		font-weight: bold
		text-shadow: 0 0 1px $feature-color-dark
		border-radius: 50%
		border: 1px solid $feature-color
		background:
			size: 120%
			color: $feature-color
			position: center
			repeat: no-repeat


		&:hover
			text-decoration: none
			text-shadow: 0 0 2px $feature-color-dark

	.flag-rus
		&:hover
			background:
				image: url('../img/logo/rus.svg')

	.flag-us
		&:hover
			background:
				image: url('../img/logo/us.svg')

