---
date: '2017-05-28T00:15:27.035+00:00'
---
	<hr class="vdivider">

	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<hr class="vdivider">
				<p class="lead">{{ site.data.extra_projects.p_lead }}</p>
				<h2 class="text-uppercase text-divider text-bold">{{ site.data.extra_projects.h2 }}</h2>
				<p>{{ site.data.extra_projects.p_1 }}</p>
				<p>{{ site.data.extra_projects.p_2 }}</p>
				<p>
					<a href="{{ site.url }}{{ site.data.extra_projects.link_url }}" class="btn btn-warning btn-lg">
					{{ site.data.extra_projects.link_text }}
				</a>
				</p>
				<hr class="vdivider">
			</div>
			<div class="col-md-9">


			{% assign eprojects = site.extra-projects | sort: 'date' %}
			{% for project in eprojects limit: 2 %}
			<div class="col-md-6">

				<!-- Button trigger modal -->
				<button class="btn img-wrap project" type="button" data-toggle="modal" data-target="#myModal{{forloop.index}}">
					<img class="img-rounded image-responsive" src="{{ project.img }}" alt="{{ project.project-title }}">
					<h3 class="text-left">{{ project.project-title }}</h3>
					<p class="text-left">{{ project.project-intro }}</p>
				</button>

				<!-- Modal -->
				<div class="modal fade" id="myModal{{forloop.index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">{{ project.project-title }}</h4>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-md-12">
										<img class="img-rounded img-responsive" src="{{ project.img}}" alt="{{ project.project-title }}">
									</div>
								</div>
								<hr class="vdivider sm">
								<div class="row">
									<div class="col-md-12">
										<span><strong>{{ project.date | date: '%B %d, %Y' }} &nbsp;/&nbsp; {{ project.project-location }}</strong></span>
										<hr class="vdivider sm">
										<p class="lead">{{ project.project-intro }}</p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">{{ project.content }}</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			{% endfor %}


<!--
				<div class="col-md-6">
					<hr class="vdivider sm">
					<a href="#"><img class="img-responsive img-rounded center-block" src="http://placehold.it/480x400/eee/000"></a>
				</div>
-->



			</div>
		</div>
	</div>
	<hr class="vdivider">

</div>
