---
date: '2017-05-28T00:15:27.035+00:00'
---
	<hr class="vdivider sm">
	<div class="row text-center">
		<h2>Lorem ipsum dolor.</h2>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<form class="form-horizontal">

				<div class="form-group">
					<label for="client_name" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="client_name" placeholder="Your name">
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
					</div>
				</div>
				<div class="form-group">
					<label for="client_message" class="col-sm-2 control-label">Message</label>
					<div class="col-sm-10">
						<textarea name="" id="client_message" class="form-control" rows="3"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<hr class="vdivider">
</div>
