---
date: '2017-05-28T00:15:27.035+00:00'
---
	<div class="container-fluid text-center">
		<p>Only they would that we should remember the poor. Gal.2:10</p>
	</div>
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ site.url }}">
				<span>Christian International Ministry</span>
			</a>
		</div>


		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			<ul class="nav navbar-nav navbar-right">

				{% for item in site.data.menu.menu %}
				<li class="{{ item.class }} menu-item">
					{% if item.class == 'dropdown-toggle' %}{{ item.name }}{% elsif item.class != 'dropdown-toggle' %}
					<a href="{{ site.url }}{{ item.link }}">{{ item.name }}</a> {% endif %} {% if item.sub-items %}
					<ul class="drop-menu">
						{% for subitem in item.sub-items %}
						<li class="submenu-item"><a href="{{ site.url }}{{ subitem.link }}">{{ subitem.name }}</a></li>
						{% endfor %}
					</ul>
					{% endif %}
				</li>
				{% endfor %}

				<li class="menu-item donate"><a href="#">Donate</a></li>
				<!--					<li><a class="sub-item" href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>-->
				<!--					<li><a class="sub-item" href="#"><i class="fa fa-phone" aria-hidden="true"></i></a></li>-->
			</ul>
		</div>
	</div>
	<div class="container-fluid text-center">
		<p>widows · orphans · sick · charity · evangelism · persecuted christians · humanitarian aid</p>
	</div>
</nav>
