---
layout: project
title: Widow Olga Michova - FRIENDS - Emergency Assistance
description: Widow Olga Michova - FRIENDS - Emergency Assistance
img: "/img/projects/Halbwaise-Nicole-1024x785.jpg"
project-title: Widow Olga Michova
project-location: Ukraine
project-intro: 
categories: current
date: '2017-05-28T00:15:32.028+00:00'
---

<p>
	<strong>Ukraine:</strong> Overjoyed was the young couple Alexander and Olga when her first daughter came into the world.   Alexander cared lovingly for his wife and daughter. Suddenly he got very severe headache. At night he could not sleep. At work, everything fell out of his hands. He found it increasingly difficult to concentrate. In a medical examination in Odessa was noted that Alexander has a brain tumor. After the first chemotherapy he felt better, but it was not long until the disease was rampant again. On 31/08/2016 he went into eternity. The little daughter Nicole, who had just turned 1 year old, of course, could not understand why her father so lying there and all around crying. The young mother Olga (23) it is very difficult to imagine a life without her beloved husband.
</p>
<blockquote>
	"
	Two months later, the staff of the relief committees sister Olga got to know on a widow meeting in Odessa. The heavy fate of the young widow moved her deeply -   especially because she was just waiting for the second child. On 17/02/2017 the little Elvin was born healthy. This God of the young widow gave consolation. Olga is grateful for the prayers and financial help. Pray also continue for the young widow Olga and their children.
	"
</blockquote>


