<div class="container-fluid bg-light">
	<hr class="vdivider">

	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<hr class="vdivider">
				<p class="lead">{{ site.data.extra_projects.p_lead-ru }}</p>
				<h2 class="text-uppercase text-divider text-bold">{{ site.data.extra_projects.h2-ru }}</h2>
				<p>{{ site.data.extra_projects.p_1-ru }}</p>
				<p>{{ site.data.extra_projects.p_2-ru }}</p>
				<p>
					<a href="{{ site.url }}{{ site.data.extra_projects.link_url-ru }}" class="btn btn-warning btn-lg">
					{{ site.data.extra_projects.link_text-ru }}
				</a>
				</p>
				<hr class="vdivider">
			</div>
			<div class="col-md-9">


			{% assign extra-projects-ru = site.current-projects-ru | where: "category", "extra" | sort: 'date' %}
			{% for item in extra-projects-ru limit: 2 %}
			<div class="col-md-6">

				<!-- Button trigger modal -->
				<button class="btn img-wrap project" type="button" data-toggle="modal" data-target="#myExtraModal{{forloop.index}}">

					<img class="img-rounded image-responsive" src="{{ site.url }}/{{ item.img }} " alt="{{ item.project-title }}">
					<h3 class="text-left">{{ item.project-title }}</h3>
					<p class="text-left">{{ item.project-intro }}</p>

				</button>

				<!-- Modal -->
				<div class="modal fade bs-example-modal-lg" id="myExtraModal{{forloop.index + 7}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">{{ item.project-title }}</h4>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-md-12">
										<img class="img-rounded img-responsive" src="{{ site.url }}{{ item.img }}" alt="{{ item.project-title }}">
									</div>
								</div>
								<hr class="vdivider sm">
								<div class="row">
									<div class="col-md-12">
										<span><strong>{{ item.date | date: '%B %d, %Y' }} &nbsp;/&nbsp; {{ item.project-location }}</strong></span>
										<hr class="vdivider sm">
										<p class="lead">{{ item.project-intro }}</p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 img-wrap">{{ item.content }}</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			{% endfor %}
			</div>
		</div>
	</div>
	<hr class="vdivider">

</div>
