<hr class="vdivider">
<div class="container" id="our-projects">
	<div class="row">
		<div class="col-md-3">
			<hr class="vdivider sm">
			<p class="lead">{{ site.data.current_projects.p_lead-ru }}</p>
			<h2 class="text-uppercase text-divider text-bold">{{ site.data.current_projects.h2-ru }}</h2>
			<p>{{ site.data.current_projects.p_1-ru }}</p>
			<p>{{ site.data.current_projects.p_2-ru }}</p>
			<p>

				<a href="{{ site.url }}{{ site.data.current_projects.link_url-ru }}" class="btn btn-info btn-lg">
					{{ site.data.current_projects.link_text-ru }}
				</a>

			</p>
			<hr class="vdivider">
		</div>
		<div class="col-md-9">

			{% assign current-projects-ru = site.current-projects-ru | where: "category", "current" | sort: 'date' %}
			{% for project in current-projects-ru reversed | limit: 6 %}

			<div class="col-sm-4">
				<div class="thumbnail">
					<div class="thumb-img" style="background-image: url('{{ site.url }}{{ project.img }}')">
<!--						<img class="img-rounded image-responsive" src="{{ project.img }} " alt="{{ project.project-title }}">-->
					</div>
					<div class="caption">
						<h3 class="text-divider">{{ project.project-title }}</h3>
						<p class="">{{ project.project-intro }}</p>
						<a href="{{ site.url }}{{ project.url }}" type="button" class="btn btn-info">
							Читать далее
						</a>

					</div>
				</div>
			</div>

			{% endfor %}
		</div>
	</div>
</div>
<hr class="vdivider">
