<header>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">AidCIM logo</a>
			</div>


			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

				<ul class="nav navbar-nav navbar-right">
<!--
					<li class="menu-item">
						<a href="#">Menu Item</a>
					</li>
-->

					<li class="dropdown-toggle menu-item">
						Drop Item
						<ul class="drop-menu">
							<li class="submenu-item"><a href="#">Lorem ipsum dolor</a></li>
							<li class="submenu-item"><a href="#">Lorem ipsum dolor</a></li>
							<li class="submenu-item"><a href="#">Lorem</a></li>
							<li class="submenu-item"><a href="#">Sub item</a></li>
						</ul>
					</li>

					<li class="dropdown-toggle menu-item">
						Drop Item
						<ul class="drop-menu">
							<li class="submenu-item"><a href="#">Lorem ipsum dolor</a></li>
							<li class="submenu-item"><a href="#">Lorem ipsum dolor</a></li>
							<li class="submenu-item"><a href="#">Lorem</a></li>
							<li class="submenu-item"><a href="#">Sub item</a></li>
						</ul>
					</li>


					<li class="dropdown-toggle menu-item">
						Drop Item
						<ul class="drop-menu">
							<li class="submenu-item"><a href="#">Sub item</a></li>
							<li class="submenu-item"><a href="#">Lorem ipsum dolor.</a></li>
							<li class="submenu-item"><a href="#">Sub item</a></li>
						</ul>
					</li>



					<li class="menu-item">
						<a href="#">Menu Item</a>
					</li>



					<li class="menu-item donate"><a href="#">Donate</a></li>
					<li><a class="sub-item" href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
					<li><a class="sub-item" href="#"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>
	</nav>



	<!--article header start-->
<div class="container-fluid gradient">

		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4 valign">

					<h1 class="text-divider">Lorem ipsum</h1>
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
					<hr class="vdivider">
					<blockquote>
						<p style="text-align: left;"><span style="font-size: 14pt;">Unser Ziel ist&nbsp;es notleidenden Menschen zu helfen&nbsp;und auch Andere dazu motivieren&nbsp;<strong>Gottes Liebe</strong> weiterzugeben.</span></p>
					</blockquote>
					<hr class="vdivider">
					<p>
						<button type="button" class="btn btn-info btn">
							<i class="fa fa-chevron-down" aria-hidden="true"></i>&nbsp;Lorem ipsum dolor.
						</button>
						<button type="button" class="btn btn-warning btn">
							Lorem ipsum
						</button>
					</p>

				</div>
			</div>
		</div>
</div>
	<!--article header end-->
</header>
