<!DOCTYPE html>
<html lang="ru">

{% include head.html %}

<body>
	{% include nav-desktop-ru.html %}

<div class="container">
	<hr class="vdivider sm">
	<div class="row">
		<div class="col-md-8 img-wrap">
			<p class="lead">
				<strong>Наши проекты</strong>
			</p>
			<hr>
			<img src="{{ site.url }}{{ page.img }}" alt="{{ page.title }}" class="img-responsive img-rounded">
			<h1>{{ page.project-title }}</h1>
			<p class="info"><strong><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{ page.date | date: '%B %d, %Y' }} &nbsp;| &nbsp;<i class="fa fa-globe" aria-hidden="true"></i> {{ page.project-location }}</strong></p>
			<div class="content">
				{{ content }}
				<hr>

			</div>
			<div>
					<div class="row">
						<div class="col-xs-6 col-md-2">
							<a href="#" class="thumbnail">
								<img src="http://placehold.it/120x100" alt="...">
							</a>
						</div>
						<div class="col-xs-6 col-md-2">
							<a href="#" class="thumbnail">
								<img src="http://placehold.it/120x100" alt="...">
							</a>
						</div>
						<div class="col-xs-6 col-md-2">
							<a href="#" class="thumbnail">
								<img src="http://placehold.it/120x100" alt="...">
							</a>
						</div>
						<div class="col-xs-6 col-md-2">
							<a href="#" class="thumbnail">
								<img src="http://placehold.it/120x100" alt="...">
							</a>
						</div>
						<div class="col-xs-6 col-md-2">
							<a href="#" class="thumbnail">
								<img src="http://placehold.it/120x100" alt="...">
							</a>
						</div>
						<div class="col-xs-6 col-md-2">
							<a href="#" class="thumbnail">
								<img src="http://placehold.it/120x100" alt="...">
							</a>
						</div>
					</div>
				</div>
			<div class="clearfix">
				<div class="social lg pull-left">
					<span>
						<a href="">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</a>
					</span>
					<span>
						<a href="#">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
					</span>
					<span>
						<a href="">
							<i class="fa fa-vk" aria-hidden="true"></i>
						</a>
					</span>
					<span>
						<a href="">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</span>
				</div>
				<div class="">
					<a href="" class="donate btn">Пожертвование</a>
				</div>
			</div>
				<hr>
			<ul class="pager">
					{% if page.previous.url %}
					<li class="previous">
						<a href="{{ site.url }}{{ page.previous.url | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; Предыдущий</a>
					</li>
					{% endif %} {% if page.next.url %}
					<li class="next">
						<a href="{{ site.url }}{{ page.next.url | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Следующий&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
					</li>
					{% endif %}
				</ul>

			<a href="{{ site.url }}/ru/projects" class="btn btn-link">
			<i class="fa fa-backward" aria-hidden="true"></i>&nbsp;
				К проектам
			</a>
			<hr class="vdivider sm">
		</div>
		<div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-12">
			<h3>Недавние проекты</h3>
			<ul>

			{% assign current-projects-ru = site.current-projects-ru | where: "category", "current" | sort: 'date' %}
			{% for project in current-projects-ru reversed %}
				<li>
					<a href="{{ project.url }}">{{ project.project-title }}</a>
				</li>

			{% endfor %}

			</ul>
			<hr>
			{% include form/form-subscribe-sb-ru.html %}
			<hr>
		</div>
	</div>
</div>


	{% include footer/footer-v2.html %}

	{% include extras/script.html  %}
</body>

</html>
